@import 'src/scss/colors';

$power-on-background: rgba($color-white, .7);

.button {
  &-power {
    background-color: $power-on-background;
    border: 1px solid $power-on-background;
    border-radius: 50%;

    &__on {
      width: 64px;
    }

    &__off {
      position: fixed;
      width: 24px;
      top: 20px;
      right: 20px;
      opacity: .5;
    }

    &:hover {
      background-color: $color-white;
      border: 1px solid $color-white;
      cursor: pointer;
    }
  }
}
