@import 'src/scss/colors';

.app {
  height: 100%;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $color-ebony;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;

  .content {
    padding-top: 60px;
  }
}
