@import 'src/scss/colors';

.app {
  height: 100%;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $color-ebony;
  overflow: hidden;
  background-image: url('../scss/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .content {
    padding-top: 60px;
  }
}
