@import 'src/scss/colors';

.window {
  background: $color-daintree;
  border-radius: 8px 8px;
  min-width: 900px;
  max-width: 900px;
  width: 100%;
  position: absolute;
  top: 0;
  border: solid .5px rgba($color-black, 0.1);
  opacity: 1;

  &[disabled] {
    opacity: 0.8;
  }
}
