// whites
$color-white: #fff;
$color-mystic: #e0e8f0;

// blacks
$color-black: #000;

// grays
$color-steel-gray: #232334;
$color-ebony: #30353a;

// blues
$color-daintree: #022833;
$color-medium-electric-blue: #0a5096;

// reds
$color-carnation: #fc605c;

// yellows
$color-pastel-orange: #fdbc40;

// greens
$color-dull-lime: #34c749;
